{{!-- could throw bootstrap in this bitch forsure --}}

{{!-- using hbs to easily switch between links refrencing each hbs file --}}

<header>
        <h1 class="display-4">{{title}} <img class="small-picture" src="/img/page_logo.png"> </h1>
    <div class="d-flex justify-content-center">
        <a href="/"> Weather</a>
        <a href="/about"> About</a>
        <a href="/help"> Help</a>
    </div>
</header>