{{!-- could throw bootstrap in this bitch forsure --}}

{{!-- using hbs to easily switch between links refrencing each hbs file --}}

<header>
    <h1>{{title}}</h1>
    <a href="/"> Weather</a>
    <a href="/about"> About</a>
    <a href="/help"> Help</a>
</header>